/*need global variables*/

/*wildcard to set all margin to zero*/
* {
    margin: 1% 3%;
}


.container {
    display: flex;
    background-color:lightgrey;
    justify-content: center;
}

/*WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport*/

.header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;    
}
.header div h1{
    flex-wrap: nowrap;
        
}
.header div nav {
    display: flex;
    align-items: center;
    background-color:lightskyblue;
}
.header div nav ul li {
    
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 25%;
    
    
}
.projects {
    width: -webkit-fill-available;
}

.projects div {
    display: flex;
    background-color: lightskyblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects div div {
    justify-content: center;
}

.card {
    display:flex;    
    height: 150px;
    width: 270px;
    background-color: black;
    z-index: 1;
    position: absolute;
    margin: 0;
    top: 120px;
    left: 220px;
    justify-content: left;
}
.card img {    
    height: 100px;
    width: 70px;      
}

picture {
    display: flex;
    align-items: center;
}

address {
    margin: 0;
    font-family: cursive;    
}
address h3 {
    white-space:nowrap;
    color: silver;
}
address p {
    font-size: smaller;
    color: silver;
}
