/*need global variables*/
:root {
    --imgwidth: 0;
}
/*wildcard to set all margin to zero*/
* {
    margin: 0;
    background-color: black;
    color: white;
}


.container {    
    /* background-color:lightgrey; */
    justify-content: center;
    margin: 0 3%;
}

/*WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport*/

.header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
}
.header div h1{
    white-space: nowrap;
        
}
.nav {
    display: flex;
    align-items: center;
    /* background-color:lightskyblue; */
    width: -webkit-fill-available;

}
.bio {
    display: flex;
    margin: 3% 0;
}
    
picture {
    display: flex;
    align-items: center;  
    box-sizing: border-box;
}  

picture img {    
    height: auto;
    max-width: 300px;;   
}

address {
    margin: 0;
    font-family: cursive;    
}
article h3 {
    white-space:nowrap;
    color: silver;
    margin: 3.5%;
}

article address h3 {
    margin-bottom: 1%;
}
address p {
    font-size: smaller;
    color: white;
}

.projects {
    width: -webkit-fill-available;    
}
h2 {
    text-align: center;
    margin: 5%;
}
.projects div , .projects a {
    display: flex;
    /* background-color: lightskyblue;     */
    align-items: center;
    justify-content: center;
}
.projects:first-child {
    display: flex;
    flex-direction: column;
}
.projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;  
    box-sizing: border-box;  
}

.projects div a {
    width: 50%;
}
.projects div a img {
    width: 150px;
    height:auto;
    margin:10%;
}

/* .card {
    display:flex;    
    height: auto;
    width: 270px;
    background-color: black;
    z-index: -1;
    position: absolute;
    margin: 0;
    top: 250px;
    left: 220px;
    justify-content: left;    
} */

